<html>
  <script src="/lib/jquery-3.6.0.min.js"></script>

<style>
    @font-face {
    font-family: "cookierun";
    src: url("/res/font/NanumSquareB.ttf");
  }
  body{     
   background-color: rgb(36, 36, 36);
   color:white;

   margin: 0;
    margin-bottom: 20px;
  font-family: 'cookierun';
  text-align: center;

  }
  a,p{
    font-family: 'cookierun';
  }
  .filter-invert{
    filter: invert();
  }
  
  #navbar{
    /* position:fixed; */
    display: flex;
    /* background: none; */
    justify-content:flex-start;
    flex-direction: row-reverse;
    align-items: stretch;
    height: 40px;
    background-color: rgb(36, 36, 36);
    position: sticky;
    top: 0;
    padding: 5px;
    border-bottom: 1px solid rgb(95, 95, 95);
    z-index: 3;
  }
  #navbar img, #navbar > div,.pagebtn{
    color:white;
    /* background-color: #7E00BF; */
    background: #505060;
    line-height: 30px;
    cursor:pointer;
    text-align:center;
    font-size: 20px;
    border:none;
    vertical-align: middle;
    border-radius: 5px;
    padding: 5px;
    margin-right: 5px;
    /* height: 30px; */
    font-family: 'cookierun';
  }
  #navbar img:hover,#navbar > div:hover,.submit_comment:hover,.pagebtn:hover{
    background-color: #7a7a92;
  }
  .pagebtn{
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px;
  }
  #prevbtn{
    float: left;
  }
  #nextbtn{
    float: right;
  }
  #comments form{
    width: 100%;
  }
  #main{
    text-align: start;
    border-radius: 10px;
    width: min(95%,900px);
    display: inline-block;
    padding: 5px;
    background-color: rgb(83, 83, 83);
  }
  .comment{
    min-height: 70px;
    padding: 7px;
    /* padding: 50px; */
    display: block;
   
    /* border: 2px solid white; */
  }
  .delete_comment,.delete_post{
    
    cursor: pointer;
    /* background-color: red; */
  }
  .delete_comment{
    border: none;
    float: right;
    font-size: 25px;
    color: white;
    background: none;
  }
  .delete_comment:hover{
    transform: scale(1.1);
  }
  .delete_comment{
    cursor: pointer;
    /* background-color: red; */
  }
  .vote{
    cursor: pointer;
    display: inline-block;
    /* min-width: 50px; */
    padding: 3px;
    padding-right: 6px;

    background: none;
    /* border: 1px solid white; */
  }
  .vote a{
    font-size: 17px;
  }
  .vote img{
    width: 15px;
  }
  .downvote img{
    transform: rotate(180deg);
  }
  
  .reply{
    display: inline;
    /* text-align: end; */
    float: right;
    border: 1px solid white;
    padding: 5px;
    margin: 4px;
    cursor: pointer;
    border-radius: 3px;

  }
  .reply img{
    vertical-align: middle;
    width: 14px;
    padding-right: 4px;
  }
  .reply a{
    text-decoration: none;
    color: white;
  }
  .comment_info{
    font-size: 12px;
    color: #d2d2d2;
    
  }
  .comment_author{
    cursor: pointer;
    font-size: 15px;
    color: #ffffff;
  }
  .comment_hr{
    display: block;
    margin: 10px;
    border: 0;
    height: 1px;
    background: gray;
    /* width: 100%; */
  }
  .comment_content{
    font-size: 13px;
  }  #main{
    border-radius: 10px;
    width: min(95%,900px);
    display: inline-block;
    padding: 5px;
    background-color: rgb(83, 83, 83);
  }
  .article a{
    /* text-decoration: none; */
    color: rgb(190, 190, 190);
    
  }
  .article{
    display: inline;
  }
  .reply_info{
    background-color: #9923d4;
    color: white;
    border-radius: 3px;
    padding: 2px;
    font-size: 14px;
  }
  #sort{
    margin: 10px;
  }
  
  .title-username{
    color: #d88bff;
    text-decoration: underline;
    cursor: pointer;
    display: inline;
  }
</style>
<head>
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.2, user-scalable=no" />

  <meta charset="utf-8" >
</head>

<body>
  <div id="navbar">
    <img src="/res/img/svg/list.svg" id="homebtn"  class="filter-black" onclick="golink('/board/')">

        <div onclick="golink('/board/user/<%=user%>/posts')">
          <a class='white-text'>Posts</a>
        </div>
  </div>
  <h1><a class="title-username"  onclick="golink('/user/<%=user%>')"><%=user%></a>`s comments</h1>

 
  <div id="main">
    <select name="sortby" id="sort">
      <option value="" disabled selected>Order by</option>
      <option value="new">new</option>
      <option value="old">old</option>
      <option value="upvote">like</option>
    </select>
    

   
    <%for(const comm of comments){%>
        <div class="comment">
          <%if(comm.type==='reply'){%>
            <a class="comment_info reply_info">Reply</a>
            <%}%>

            <a class="comment_info"><%= comm.createdAt.toString().substring(0,24) %></a>
            <%if(canModify){%>
              <button value="<%= comm.id%>" class="delete_comment" data-type="<%=comm.type%>">&times;</button><br>
           <%}%>
            <p class="comment_content"> <%= comm.content %> </p>
            
            <div class="vote upvote commentvote" data-type="up" data-id="<%=comm._id%>" >
              <img src="/res/img/svg/like.svg" class="filter-invert">
              <a class="vote_count"><%= comm.upvote %></a>
            </div>
            <div class="vote downvote commentvote" data-type="down" data-id="<%=comm._id%>" >
              <img src="/res/img/svg/like.svg" class="filter-invert">
              <a class="vote_count"><%= comm.downvote %></a>
            </div>
            

                <%if(comm.type==='comment'){%>
                  <div class="reply">
                    <a href="/board/post/comment/<%=comm.id%>/reply"><img src="/res/img/svg/comment-white.svg"><%=comm.replyCount%></a>
                  </div><br><br>
                    <%if(comm.articleUrl===0){%>
                      <div class="article">
                        <a>Original post has been removed</a>
                      </div>
                    <%}else{%>
                      <div class="article">
                        <a href="/board/post/<%=comm.articleUrl%>">View post</a>
                      </div>
                    <%}%>
                    
                <%}else if(comm.type==='reply'){%>
                  <div class="reply">
                    <a href="/board/post/comment/<%=comm.commentId%>/reply">View reply</a>
                  </div><br><div> &nbsp;</div>
                <%}%>
              
        </div>
        <hr class="comment_hr">
    <%}%>
    <%if(start>0){%>
      <button id="prevbtn" class="pagebtn" value='/board/<%=`user/${user}/comments?start=${start-count}&sortby=${sortby}`%>'>
        ❮ Prev</button>
    <% }%>
  
    <%if(!isEnd){ %> 
      <button id="nextbtn" class="pagebtn" value='/board/<%=`user/${user}/comments?start=${start+count}&sortby=${sortby}`%>'>
        Next ❯</button>
    <% } %> 
  </div>
 
</body>
<script>
$("#sort").change(function(){
  window.location.href=window.location.href.split("?")[0]+"?sortby="+$(this).val()
})
$(".pagebtn").click(function(){
  window.location.href=$(this).val()
})
$(".delete_comment").click(function(){
    if(!confirm("Are you sure you want to delete?")) return

  let value=$(this).val()
  let type=$(this).data('type')
  $.ajax({
        method: 'POST',
        url: '/board/post/'+type+'/delete',
        data:{commentId:value}
    })
    .done(function(data, statusText, xhr){
      let status = xhr.status;
        window.location.reload()
      
    })
    .fail(function(data, statusText, xhr){
        alert("error")
      
    })
})
function golink(link){
  window.location.href=link
}
</script>
</html>