<html>
  <script src="/lib/jquery-3.6.0.min.js"></script>
  <script src="/src/localeManager.js"></script>
  <link rel="stylesheet" href="/src/style/board-global.css">

<style>
  @font-face {
    font-family: "nanumB";
    src: url("/res/font/NanumSquareB.ttf");
  }
  body{     
   background-color: var(--bg);
   color:white;
   margin: 0;
    margin-bottom: 20px;

  font-family: 'nanumB';
  text-align:center;

  }
  a,p{
    font-family: 'nanumB';
  }
  .filter-invert{
    filter: invert();
  }
  
  #navbar{
    /* position:fixed; */
    display: flex;
    /* background: none; */
    justify-content:flex-start;
    flex-direction: row-reverse;
    align-items: stretch;
    height: 40px;
    background-color: rgb(36, 36, 36);
    position: sticky;
    top: 0;
    padding: 5px;
    border-bottom: 1px solid rgb(95, 95, 95);
    z-index: 3;
  }
  #navbar img, #navbar > div{
    color:white;
    /* background-color: #7E00BF; */
    background: #505060;

    cursor:pointer;
    text-align:center;
    font-size: 20px;
    border:none;
    vertical-align: middle;
    border-radius: 5px;
    padding: 5px;
    margin-right: 5px;
    height: 30px;
    line-height: 30px;
  }
  #navbar img:hover,#navbar > div:hover{
    background-color: #7a7a92;
  }
  #comments form{
    width: 100%;
  }
  #main{
    border-radius: 10px;
    width: min(95%,900px);
    display: inline-block;
    padding: 5px;
    background-color: var(--bg3);
  }
  .comment{
    min-height: 70px;
    padding: 7px;
    /* padding: 50px; */
    display: block;
    text-align: start;
    /* border: 2px solid white; */
  }
  .delete_comment,.delete_post{
    
    cursor: pointer;
    /* background-color: red; */
  }
  .delete_comment{
    border: none;
    float: right;
    font-size: 25px;
    color: white;
    background: none;
  }
  .delete_comment:hover{
    transform: scale(1.1);
  }
  .delete_comment{
    cursor: pointer;
    /* background-color: red; */
  }
  .vote{
    cursor: pointer;
    display: inline-block;
    /* min-width: 50px; */
    padding-right: 6px;
    border-radius: 3px;
    padding: 3px;
    background: none;
    border: 1px solid white;
  }
  .vote img{
    filter: invert();
  }
  .upvote.active a{
    color: #ff9696;
  }
  .upvote.active img{
    filter:invert(73%) sepia(46%) saturate(729%) hue-rotate(307deg) brightness(101%) contrast(100%);
  }
  .downvote.active a{
    color: #aaaaff;
  }
  .downvote.active img{
    filter:invert(66%) sepia(9%) saturate(2608%) hue-rotate(201deg) brightness(104%) contrast(103%);
  }
  .vote a{
    font-size: 17px;
  }
  .vote img{
    width: 15px;
  }
  .downvote img{
    transform: rotate(180deg);
  }
  
  .reply{
    display: inline;
    /* text-align: end; */
    float: right;
    border: 1px solid white;
    padding: 5px;
    margin: 4px;
    cursor: pointer;
    border-radius: 3px;
  }
  .reply a{
    text-decoration: none;
    color: white;
  }
  .comment_info{
    font-size: 12px;
    /* color: #d2d2d2; */
    color: var(--font-light);
    
  }
  .comment_author{
    cursor: pointer;
    font-size: 15px;
    color: #ffffff;
  }
  .comment_hr{
    /* width: 90%; */
    display: block;
    margin: 10px;
  }.comment_content{
    font-size: 13px;
  }.enter_comment{
    position: relative;
    width: 100%;
    font-size: 15px;
    padding: 6px;
    color: white;
    background:none;
    border: none;
    border-bottom:2px solid rgb(210, 210, 210);
    font-family: 'nanumB';
    flex-grow: 1;
  }
  .submit_comment{
    border-radius: 5px;
    font-size: 15px;
    padding: 6px;
    padding-left: 20px;
    padding-right: 20px;

    border: none;
    background-color: var(--col-primary);
    color: white;
    cursor: pointer;
    font-family: "nanumB";
  }
  .commententer{
    display: flex;
    width: 100%;
    position: relative;
  }
  .white-text{
    color: white;
    text-decoration: none;
  }
  .comment_hr{
    /* width: 90%; */
    display: block;
    margin: 10px;
    border: 0;
    height: 1px;
    background: var(--font-light);
  }
  #reply-container{
    display: grid;
    grid-template-columns: 50px auto;
  }
  .reply-indicator{
    font-size: 40px;
    color:white;
  }
  
  .comment-author-img{
    margin-right: 5px;
    width: 30px;
    height: 30px;
    
  }
  .profileimg{
    background-color: whitesmoke;
    border-radius: 50%;
    vertical-align: middle;
    object-fit: cover;
    cursor: pointer;
  }
</style>
<head>
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.2, user-scalable=no" />

  <title>Comments</title>
  <link rel="icon" type="image/x-icon" href="/res/img/ui/favicon.png">
  <meta charset="utf-8" >
</head>

<body>
    
  <div id="navbar">
    <img onclick="golink('/board/')" src="/res/img/svg/list.svg" id="boardbtn">
    
      <%if(postUrl!==""){%>
        <div   onclick="golink('/board/post/<%=postUrl%>')">
        <a class='white-text'>View post</a>
        </div>
      <%}else{%>
        <a> Original post deleted</a>
      <%}%>
  </div>

    <div id="main">

      <div class="comment">

        <%if(comment.deleted){%>
          <a> deleted comment</a>
          <div></div>
        <%}else{%>
          <%if(authorProfileImage!==""){%>
            <img src="/uploads/profile/<%= authorProfileImage %>" class="comment-author-img profileimg" onclick="golink('/board/user/<%=comment.authorName%>/comments')">
          <%}%> <u class="comment_info comment_author" onclick="golink('/board/user/<%=comment.authorName%>/comments')">
          <%= comment.authorName %> </u>
          <a class="comment_info"><%= comment.createdAt.toString().substring(0,24) %></a>

          <p class="comment_content"> <%= comment.content %> </p>
          
          <div class="vote upvote commentvote  <%=(myvote==='up'?'active':'')%>" data-type="up" data-id="<%=comment._id%>" >
            <img src="/res/img/svg/like.svg">
            <a class="vote_count"><%= comment.upvote %></a>
          </div>
          <div class="vote downvote commentvote  <%=(myvote==='down'?'active':'')%>" data-type="down" data-id="<%=comment._id%>" >
            <img src="/res/img/svg/like.svg">
            <a class="vote_count"><%= comment.downvote %></a>
          </div>
        <%}%>
    </div>

    <%if(logined && !comment.deleted){%>
       <form id="commentform"> 
        <input type="hidden" name="commentId" value="<%= comment._id %>">  
        <div class="commententer">
          <input class="enter_comment" type="text" name="content" placeholder="reply" lkey-ph="ph.reply" required>
          <input class="submit_comment" type="submit" value="Submit"></input>
        </div>
      </form>
  <%}else if(comment.deleted){%>
    <p lkey="reply.deleted">Can`t reply on deleted comment</p>
  <% }else{%>
      <p><button class="submit_comment" onclick="goLoginPage()"lkey="login">Log in</button><a lkey="reply.login">to reply</a> </p>
 <% }%>


    <div id="reply-container">
    <%for(let i=reply.length-1;i>=0;--i){%>
      <% const r=reply[i]%>
      <div class="reply-indicator">
        &#8618;
        
      </div>
        <div class="comment">
          <%if(r.authorProfileImage!==""){%>
            <img src="/uploads/profile/<%= r.authorProfileImage %>" class="comment-author-img profileimg" onclick="golink('/board/user/<%=r.author%>/comments')">
          <%}%> 
          <u class="comment_info comment_author" onclick="golink('/board/user/<%=r.author%>/comments')">
            <%=r.author %> </u>
            <a class="comment_info"><%= r.createdAt.toString().substring(0,24) %></a>
            <%if(r.canModify){%>
              <button value="<%= r._id%>" class="delete_comment">&times;</button>
            <%}%><br>
            <p class="comment_content"> <%= r.content %> </p>
            
            <div class="vote upvote replyvote  <%=(r.myvote==='up'?'active':'')%>" data-type="up" data-id="<%=r._id%>" >
              <img src="/res/img/svg/like.svg">
              <a class="vote_count"><%= r.upvotes %></a>
            </div>
            <div class="vote downvote replyvote  <%=(r.myvote==='down'?'active':'')%>" data-type="down" data-id="<%=r._id%>" >
              <img src="/res/img/svg/like.svg">
              <a class="vote_count"><%= r.downvotes %></a>
            </div>
            <hr class="comment_hr">
        </div>
        
      <%}%>
    </div>
  </div>

</body>
<script>

updateLocale("board")

function golink(link){
  window.location.href=link
}

function goLoginPage(){
  golink("/index.html?page=login&redirect="+window.location.pathname)
}
$(".delete_comment").click(function(){
  
  let value=$(this).val()
  $.ajax({
        method: 'POST',
        url: '/board/post/reply/delete',
        data:{commentId:value}
    })
    .done(function(data, statusText, xhr){
      let status = xhr.status;
        window.location.reload()
      
    })
    .fail(function(data, statusText, xhr){
        alert("error")
      
    })
})

$(".replyvote").click(function(){
  let type=$(this).data('type')
  let id=$(this).data('id')
  sendVote('reply',type,id,$(this))
})
$(".commentvote").click(function(){
  let type=$(this).data('type')
  let id=$(this).data('id')
  sendVote('comment',type,id,$(this))
})

function sendVote(kind,type,id,elem){
  let vote_count=$(elem).children('.vote_count').eq(0)

  $.ajax({
        method: 'POST',
        url: '/board/'+kind+'/vote',
        data:{id:id,type:type}
    })
    .done((data, statusText, xhr)=>{
      let status = xhr.status;
      if(status==200){
        if(data.change===0) alert(type==="up"?LOCALE.already_like:LOCALE.already_dislike)
        else $(vote_count).html(Number($(vote_count).html()) +  data.change)

        if(data.change===1){
          $(elem).addClass("active")
        }
        else if(data.change===-1){
          $(elem).removeClass("active")
        }

      }
    })
    .fail((data, statusText, xhr)=>{
      if(data.status==401){
        alert("Login required")
      }
    })
}
</script>
</html>