<html>
  <script src="/lib/jquery-3.6.0.min.js"></script>
	<link rel="stylesheet" href="/src/style/style_main_navbar.css">
  <script src="/src/localeManager.js"></script>
	<link rel="stylesheet" href="/src/style/board-global.css">

<style>

  @font-face {
    font-family: "cookierun";
    src: url("/res/font/NanumSquareB.ttf");
  }
  body{     
   background-color: var(--bg);
   color: rgb(254, 254, 245);
    margin: 0;
    margin-bottom: 20px;
  font-family: 'cookierun';
    text-align: center;
  }
  a,p{
    font-family: 'cookierun';
  }
  .post{
    background-color: var(--bg3);
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    border-radius: 4px;
    display: grid;
    grid-template-columns: min-content auto max-content;
    align-items: center;
  }
  .filter-white{
    filter:invert();
  }
  .thumbnail-img{
    max-width: 60px;
    max-height: 60px;
    text-align: center;
    vertical-align: middle;
  }
  .thumbnail-img-container{
    width: 60px;
    height: 60px;
    overflow: hidden;
    /* border: 2px solid rgb(97, 97, 97); */
  }
  .vote_container{
    text-align: start;
  }
  .vote{
    display: inline-block;
    
  }
  .vote a{
    font-size: 12px;
  }
  .vote img{
    width: 15px;
  }
  .downvote img{
    transform: rotate(180deg);
  }
  /* #navbar{
    display: flex;
    justify-content:flex-start;
    flex-direction: row-reverse;
    align-items: stretch;
    height: 40px;
    background-color: rgb(36, 36, 36);
    position: sticky;
    top: 0;
    padding: 5px;
    z-index: 3;
    border-bottom: 1px solid rgb(95, 95, 95);
  }
  #navbar img,#navbar > div,.pagebtn{
    font-family: 'cookierun';
    color:white;
    background-color: #7E00BF; 
    background: transparent;
    line-height: 30px;

    cursor:pointer;
    text-align:center;
    font-size: 20px;
    border:none;
    vertical-align: middle;
    border-radius: 5px;
    padding: 5px;
    margin-right: 5px;
     height: 30px; 
  }
  #navbar img:hover,#navbar > div:hover,.pagebtn:hover{
    background-color: rgb(75, 75, 75);
  } */
  #header{
    text-align: center;
    /* border-radius: 10px; */
    width: min(99%,1000px);
    display: inline-block;
    padding: 5px;
    background-color:  var(--bg3);
    margin-bottom: 10px;
    margin-top: 20px;
  }
  .pagebtn:hover{
    background-color: rgb(75, 75, 75);
  }
  .pagebtn{
    font-family: 'cookierun';
    color:white;
    background-color: #7E00BF; 
    background: transparent;
    line-height: 30px;

    cursor:pointer;
    text-align:center;
    font-size: 20px;
    border:none;
    vertical-align: middle;
    border-radius: 2px;
    padding: 5px;
    margin-right: 5px;
     /* height: 30px;  */
  }
  .pagebtn{
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px;
  }
  #prevbtn{
    float: left;
  }
  #nextbtn{
    float: right;
  }
  #post_container{
    width: min(99%,700px);
    display: inline-block;
  }
  .title{
    font-size: 17px;
  }
  .title_container{
    padding: 7px;
  }
  .subtext{
    font-size: 10px;
    /* color: #efa1ff; */
    color: var(--font-light);
    word-break: keep-all;
  }
  .subtext_container{
    text-align: center;
  }
  .comment{
    margin-left: 3px;
    color: rgb(161, 195, 255);
  }
  .comment img{
    width: 13px;
    vertical-align: middle;
  }
  .title-username{
    color: #d88bff;
    /* color: var(--font-light); */
    text-decoration: underline;
    cursor: pointer;    display: inline;
  }
  .visibility-icon{
    width: 20px;
    height: 20px;
    filter:invert();
    float: left;
    margin-bottom: 3px;
  }
</style>
<head>
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.2, user-scalable=no" />

  <title>Post</title>
  <link rel="icon" type="image/x-icon" href="/res/img/ui/favicon.png">
  <meta charset="utf-8" >
</head>

<body>

  <div id="navbar">

    <div id="navbar-btn-container">
      <div class="nav-section ">
        <%if(displayType==="all") {%>
          <div class="navbtn " onclick="golink('/')">
            <img src="/res/img/svg/home.svg" title="home">
            <a>Home</a>
          </div>
          <div class="navbtn active" id="postbtn" onclick="golink('/board')">
            <img class='postbtn' src="/res/img/svg/note.svg"  title="post board">
            <a>Posts</a>
          </div>
          <div class="navbtn" onclick="golink('/statpage.html')">
            <img id="statbtn" src="/res/img/svg/chart_white.svg" title="Statistics">
            <a>Statistics</a>
          </div>
        <%}%>
      </div>
      <div class="nav-section">

      <%if(displayType==="all") {%>
        <%if(logined) {%>
          <img class="menubtn"  src="/res/img/ui/write.png" id="writepostbtn" onclick="golink('/board/post/write')">
  
          <img class="menubtn"  src="/res/img/svg/user.svg" id="mypagebtn" onclick="golink('/user/')">
        <% }  %>
      <% }else if(displayType==="user"){%>
        <img onclick="golink('/board/user/<%=user%>/comments')" src="/res/img/svg/comment.svg" class="filter-black menubtn">

        <img src="/res/img/svg/list.svg" class="filter-black menubtn" onclick="golink('/board/')">
        <img class="menubtn"  src="/res/img/svg/home.svg" onclick="golink('/')">
        <%}else if(displayType==="userlikes"){%>
          <img onclick="golink('/board/user/<%=user%>/comments')" src="/res/img/svg/comment.svg" class="filter-black menubtn">
  
          <img src="/res/img/svg/list.svg" class="filter-black menubtn" onclick="golink('/board/')">
          <img class="menubtn"  src="/res/img/svg/home.svg" onclick="golink('/')">
          <%}else if(displayType==="bookmarks"){%>
            <%if(logined) {%>      
              <img class="menubtn"  src="/res/img/svg/user.svg" id="mypagebtn" onclick="golink('/user/')">
            <% } %>
            <img class="menubtn"  src="/res/img/svg/home.svg" onclick="golink('/')">
            <%}%>
            

        <!-- <img class="menubtn" id="loginbtn" onclick="open_login()" src="./res/img/svg/user.svg" title="Login">
        <img class='menubtn hidden' id="logoutbtn" src="res/img/svg/out.svg" onclick="logout()" title="Logout"> -->
        <!-- <img class=navbtn id="quitbtn" src="res/img/svg/out.svg"> -->
      </div>
    </div>
  </div>

  <div id="header">
    <%if(displayType==="all") {%>
      <h3 lkey="allpost">All Posts</h3>
      <% }else if(displayType==="user"){%>
        <h3><a class="title-username" onclick="golink('/user/<%=user%>')"><%=user%></a><b lkey="user.post">`s Posts</b></h3>
      <% }else if(displayType==="userlikes"){%>
        <h3><a class="title-username"  onclick="golink('/user/<%=user%>')"><%=user%></a><b lkey="user.like">`s likes</b></h3>
      <% }else if(displayType==="bookmarks"){%>
        <h3><%=user%><b lkey="user.bookmark">`s bookmarks</b></h3>
      <% }%>
  </div>
     
    <div id="post_container">
        <% for(let i=0;i<posts.length;++i){%>
          <div class="post" onclick="golink('/board/post/<%=posts[i].articleId%>')">
            
            <%if(posts[i].imagedir!=="") {%>
              <div class="thumbnail-img-container">
                <img class="thumbnail-img" src="/uploads/<%= posts[i].imagedir %>"> 
              </div>
            <% } else{ %><div></div>
              <% }  %> 
            <div class="title_container">
              
              
              <a class="title">
                <%= posts[i].title %> </a> 
            </div>
            <div class="vote_container">
              
              <%if(posts[i].visibility==="PRIVATE") {%>
                <img src="/res/img/svg/lock.svg" class="visibility-icon"><br>
              <%}else if(posts[i].visibility==="FRIENDS") {%>
                <img src="/res/img/svg/friend.svg" class="visibility-icon"><br>
              <%}else if(posts[i].visibility==="LINK_ONLY") {%>
                <img src="/res/img/svg/link.svg" class="visibility-icon"><br>
              <%}%>
              <div class="vote upvote" >
                <img src="/res/img/svg/like.svg" class="filter-white">
                <a><%= posts[i].upvote %></a>
              </div><br>
              <div class="vote downvote" >
                <img src="/res/img/svg/like.svg" class="filter-white">
                <a><%= posts[i].downvote %></a>
              </div>
            </div>
            <div></div>
            <div class="subtext_container">
              <a class="subtext"><b lkey="author">author</b>: <%=posts[i].authorName%></a>
              <a class="subtext"> <%= posts[i].createdAt.toString().substring(0,24) %></a>
              <a class="subtext">  <b lkey="view">views</b>:<%= posts[i].views %></a>
            </div>
            <div>
              <a class="subtext comment"><img src="/res/img/svg/comment.svg"> [<%= posts[i].commentCount %>]</a><br>
            </div>
          </div>
      <% } %> 
      <%if(start>0){%>
        <button lkey="prev" id="prevbtn" class="pagebtn"data-username="<%= user %>" data-displaytype="<%= displayType %>" data-params="<%= `?start=${start-count}` %>">
          ❮ Prev</button>
      <% }%>

      <%if(!isEnd){ %> 
        <button lkey="next" id="nextbtn" class="pagebtn" data-username="<%= user %>"data-displaytype="<%= displayType %>"  data-params="<%= `?start=${start+count}` %>">
          Next ❯</button>
      <% } %> 


    </div>
</body>
<script>
function golink(link){
  window.location.href=link
}

updateLocale("board")
$(".pagebtn").click(function(){
  let type=$(this).data("displaytype")
  let params=$(this).data("params")
  let username=$(this).data("username")
  switch(type){
    case "all":
      window.location.href="/board"+params
    break
    case "user":
      window.location.href=`/board/user/${username}/posts`+params
    break
    case "userlikes":
      window.location.href=`/board/user/${username}/likes`+params
    break
    case "bookmarks":
      window.location.href=`/board/user/${username}/bookmarks`+params
    break
  }
  
  
})
</script>
</html>