<html>
  <script src="/lib/jquery-3.6.0.min.js"></script>
  
  <script src="/src/localeManager.js"></script>
	<link rel="stylesheet" href="/src/style/board-global.css">

<style>
  body{     
   background-color: var(--bg);
   color:white;

   margin: 0;
  text-align:center;

  }
  a,p{
  }

  
  #navbar{
    /* position:fixed; */
    display: flex;
    /* background: none; */
    justify-content:flex-start;
    flex-direction: row-reverse;
    align-items: stretch;
    height: 40px;
    background-color: rgb(36, 36, 36);
    position: sticky;
    top: 0;
    padding: 5px;
    border-bottom: 1px solid rgb(95, 95, 95);
    z-index: 3;
  }
  #navbar img, #navbar > div{
    color:white;
    /* background-color: #7E00BF; */
    background: #505060;
    line-height: 30px;

    cursor:pointer;
    text-align:center;
    font-size: 20px;
    border:none;
    vertical-align: middle;
    border-radius: 20%;
    padding: 5px;
    margin-right: 5px;
    height: 30px;
  }
  #navbar img:hover,#navbar > div:hover{
    background-color: #7a7a92;
  }
  #navbar img.delete_post{
    /* background-color: #ff5656; */
  }
  #comments{
    padding: 5px;
    background-color: var(--bg3);
    /* background-color: rgb(221, 221, 221); */
  }
  #comments form{
    width: 100%;
  }
  .comment{
    min-height: 70px;
    padding: 7px;
    /* padding: 50px; */
    display: block;
    /* border: 2px solid white; */
  }
  .delete_comment,.delete_post{
    
    cursor: pointer;
    background-color: red;
  }
  .delete_comment{
    border: none;
    float: right;
    font-size: 25px;
    color: white;
    background: none;
  }
  .delete_comment:hover{
    transform: scale(1.1);
  }
  .postimg{
    max-width: 40%;
    max-height: 200px;
  }
  .vote{
    cursor: pointer;
    display: inline-block;
    /* min-width: 70px; */
    user-select: none;
    /* background-color: #7E00BF; */
    border-radius: 3px;
    /* border: 2px solid rgb(183, 183, 183); */
    padding: 2px;
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 6px;
    border: 1px solid white;
  }
  .vote img{
    filter: invert();
  }
  .upvote.active a{
    color: #ff9696;
  }
  .upvote.active img{
    filter:invert(73%) sepia(46%) saturate(729%) hue-rotate(307deg) brightness(101%) contrast(100%);
  }
  .downvote.active a{
    color: #aaaaff;
  }
  .downvote.active img{
    filter:invert(66%) sepia(9%) saturate(2608%) hue-rotate(201deg) brightness(104%) contrast(103%);
  }
  .commentvote a{
    font-size: 17px;
  }
  .commentvote img{
    width: 15px;
  }
  .commentvote{
    /* min-width: 50px; */
    background: none;
    padding-right: 6px;

  }
  .downvote img{
    transform: rotate(180deg);
  }
  .postvote{
    font-size: 20px;
  }
  .postvote img{
    width: 23px;
  }
  #post_container{
    width: min(95%,900px);
    display: inline-block;
    background-color: var(--bg2);
    padding: 10px;
    text-align: start;
    margin-bottom: 20px;

  }
  .title_container{
    text-align: start;
  }
  .title{
    font-size: 30px;
  }
  .info_container{
    text-align: start;
  }
  .info{
    font-size: 10px;
    color: var(--font-light);
  }
  .author{
    font-size: 18px;
    color: #d88bff;
    cursor: pointer;
    text-decoration: underline;
  }
  .content{
    margin-bottom:100px ;
  }
  .reply{
    display: inline;
    /* text-align: end; */
    float: right;
    border: 1px solid white;
    padding: 5px;
    margin: 4px;
    cursor: pointer;
    border-radius: 3px;
  }
  .reply img{
    vertical-align: middle;
    width: 14px;
    padding-right: 4px;
  }
  .reply a{
    text-decoration: none;
    color: white;
  }
  .comment_info{
    font-size: 12px;
    color: #d2d2d2;
    
  }
  .comment_author{
    cursor: pointer;
    font-size: 15px;
    color: #ffffff;
  }
  .comment_hr{
    /* width: 90%; */
    display: block;
    margin: 10px;
    border: 0;
    height: 1px;
    background: gray;
  }
  .comment_content{
    font-size: 13px;
  }.enter_comment{
    position: relative;
    width: 100%;
    font-size: 15px;
    padding: 6px;
    color: white;
    background:none;
    border: none;
    border-bottom:2px solid rgb(210, 210, 210);
    flex-grow: 1;
  }
  .submit_comment{
    border-radius: 5px;
    font-size: 15px;
    padding: 6px;
    border: none;
    background-color: var(--col-primary);
    color: white;
    cursor: pointer;
  }
  .commententer{
    display: flex;
    width: 100%;
    position: relative;
  }
  .bookmark{
    display: inline-block;
    float: right;
    cursor: pointer;
  }
  .bookmark img{
    width: 27px;
    vertical-align: sub;
    margin-right: 15px;
    margin-left: 15px;
  }
  .bookmark.active .bm-img{
    display: none;
  }
  .bookmark.active .bm-img-filled{
    display: inline;
  }
  .bookmark.inactive .bm-img{
    display: inline;
  }
  .bookmark.inactive .bm-img-filled{
    display: none;
  }
  .author-img{
    margin-right: 5px;
    width: 40px;
    height: 40px;
  }
  .comment-author-img{
    margin-right: 5px;
    width: 30px;
    height: 30px;
    
  }
  .profileimg{
    background-color: whitesmoke;

    border-radius: 50%;
    vertical-align: middle;
    object-fit: cover;
    cursor: pointer;
  }
  #post-container{
    min-height: 150px;
    position: relative;
  }
  #loadingimg{
    position: absolute;
    top:50%;
    left:50%;
    width: 100px;
    transform: translate(-50%,-50%);
  }
</style>
<head>
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.2, user-scalable=no" />

  <title>Post</title>
  <link rel="icon" type="image/x-icon" href="/res/img/ui/favicon.png">
  <meta charset="utf-8" >
</head>

<body>
  <div id="navbar">
    <!-- <img src="/res/img/svg/home.svg" id="homebtn"  onclick="golink('/')"><br> -->
    <img src="/res/img/svg/list.svg" id="postlistbtn">
    <%if(canModify){%>
      <img src="/res/img/svg/trash.svg" class="delete_post" data-id="<%= id%>">
      <img onclick="golink('/writepost?postUrl=<%=url%>')" src="/res/img/ui/write.png"class="edit_post">
  
      <!-- <button value="<%= id%>" class="delete_post">&times;</button>
      <button onclick="golink('/board/post/edit/<%=url%>')" class="edit_post">edit</button> -->
    <%}%>

  </div>
 <div id="post_container">


  <div class="title_container">
    
    <a class="title"><%= title %> </a>
    
  </div>
  
  <div class="info_container">
    <%if(authorProfileImage!==""){%>
      <img src="/uploads/profile/<%= authorProfileImage %>" class="author-img profileimg" onclick="golink('/board/user/<%=author%>/posts')">
    <%}%>
    <b class="info author" onclick="golink('/board/user/<%=author%>/posts')"><%= author %> </b><br>
    <a class="info"><%= createdAt.toString().substring(0,24) %></a>
    <a class="info"> <b lkey="view">views</b>: <%= views %></a>
  </div>
      
  <hr>
      <%if(image!=="") {%>
        <img class="postimg" id="postimg" src="/uploads/<%= image %>"> 
     <% }  %>
     <div class="content" id="post-container"> <img id="loadingimg" src="/res/img/ui/loading_purple.gif"></div>
     
     <div class="vote upvote postvote <%=(myvote==='up'?'active':'')%>"  data-type="up" data-id="<%=id%>">
      <img src="/res/img/svg/like.svg">
      <a class="vote_count "><%= upvotes %></a>
    </div>
    <div class="vote downvote postvote <%=(myvote==='down'?'active':'')%>"  data-type="down" data-id="<%=id%>">
      <img src="/res/img/svg/like.svg">
      <a class="vote_count "><%= downvotes %></a>
    </div>
    <div class="bookmark <%=(isBookmarked?'active':'inactive')%>" data-postid="<%=id%>">
      <img class="bm-img" src="/res/img/svg/bookmark.svg">
      <img  class="bm-img-filled" src="/res/img/svg/bookmark-filled.svg">
    </div>
    <br><br>
    <hr>
    
     <div id="comments">
      <%if(logined){%>
          
        <form id="commentform"> 
          <input type="hidden" name="postUrl" value="<%= url %>">  
          <input type="hidden" name="postId" value="<%= id %>">  
          <div class="commententer">
            <input class="enter_comment" type="text" lkey-ph="ph.comment" name="content" placeholder="write comment" required>
            <input class="submit_comment" type="submit" value="Submit">
          </div>
            
        </form>
      <%}else{%>
        
          <p><button class="submit_comment" onclick="goLoginPage()" lkey="login">Log in</button><a lkey="comment.login">to write comment</a> </p>
      <%}%>
      <%for(let i=comment.length-1;i>=0;--i){%>
        <%const comm = comment[i]%>
        
        <div class="comment">
          <%if(comm.deleted){%>
            <a lkey="comment_removed"> Deleted comment</a>
            <div></div>
          <%}else{%>
            <%if(comm.authorProfileImage!==""){%>
              <img class="profileimg comment-author-img" src="/uploads/profile/<%= comm.authorProfileImage %>" onclick="golink('/board/user/<%=comm.author%>/comments')">
            <%}%>
          <u class="comment_info comment_author" onclick="golink('/board/user/<%=comm.author%>/comments')"> <%= comm.author %> </u>
            <a class="comment_info"><%= comm.createdAt.toString().substring(0,24) %></a>
            <%if(comm.canModify){%>
              <button value="<%= comm._id%>" class="delete_comment"><b>&times;</b></button>
            <%}%><br>
            <p class="comment_content"> <%= comm.content %> </p>
            
              <div class="vote upvote commentvote  <%=(comm.myvote==='up'?'active':'')%>" data-type="up" data-id="<%=comm._id%>">
                <img src="/res/img/svg/like.svg">
                <a class="vote_count"><%= comm.upvotes %></a>
              </div>
              <div class="vote downvote commentvote  <%=(comm.myvote==='down'?'active':'')%>" data-type="down" data-id="<%=comm._id%>" >
                <img src="/res/img/svg/like.svg">
                <a class="vote_count"><%= comm.downvotes %></a>
              </div>
          <%}%>
          <div class="reply">
            <a href="/board/post/comment/<%=comm._id%>/reply"><img src="/res/img/svg/comment-white.svg"><%=comm.replyCount %> </a>
          </div>
              
        </div>
        <hr class="comment_hr">
       <%}%>
     </div>
      
      
     
 </div>
   
</body>
<script>
  
updateLocale("board")
  function golink(link){
  window.location.href=link
}
function goLoginPage(){
  golink("/index.html?page=login&redirect="+window.location.pathname)
}
$("#postlistbtn").click(()=>{
    window.location.href="/board"
})

$(".delete_comment").click(function(){
  let value=$(this).val()
  $.ajax({
        method: 'POST',
        url: '/board/post/comment/delete',
        data:{commentId:value}
    })
    .done(function(data, statusText, xhr){
      let status = xhr.status;
      if(status==200){
        window.location.reload()
      }
    })
    .fail(function(data, statusText, xhr){
      if(data.status==401){
        alert("unauthorized")
      }
      else{
        alert("error")
      }
    })
})
$(".delete_post").click(function(){
  if(!confirm("Are you sure you want to delete?")) return

  let value=$(this).data('id')
  $.ajax({
        method: 'POST',
        url: '/board/post/delete',
        data:{id:value}
    })
    .done(function(data, statusText, xhr){
      let status = xhr.status;
      if(status==201){
        window.location.href="/board/"
      }
    })
    .fail(function(data, statusText, xhr){
      if(data.status==401){
        alert("unauthorized")
      }
      else{
        alert("error")
      }
    })
})
$(".postvote").click(function(){
  let type=$(this).data('type')
  let id=$(this).data('id')
  sendVote('post',type,id,$(this))
})
$(".commentvote").click(function(){
  let type=$(this).data('type')
  let id=$(this).data('id')
  sendVote('comment',type,id,$(this))
})
$(".bookmark").click(function(){
  
  $.ajax({
        method: 'POST',
        url: '/board/bookmark',
        data:{id:$(this).data("postid")}
    })
    .done((data, statusText, xhr)=>{
      let status = xhr.status;
      if(status==200){

        if(data.change===1){
          $(this).addClass("active")
          $(this).removeClass("inactive")
        }
        else if(data.change===-1){
          $(this).addClass("inactive")
          $(this).removeClass("active")
        }
      }
    })
    .fail((data, statusText, xhr)=>{
      if(data.status==401){
        alert("Login required")
      }
    })
})

  
function main(){}
function sendVote(kind,type,id,elem){

  let vote_count=$(elem).children('.vote_count').eq(0)
  $.ajax({
        method: 'POST',
        url: '/board/'+kind+'/vote',
        data:{id:id,type:type}
    })
    .done((data, statusText, xhr)=>{
      let status = xhr.status;
      if(status==200){
        if(data.change===0) alert(`You already ${type==="up"?"down":"up"}voted.`)
        else $(vote_count).html(Number($(vote_count).html()) +  data.change)
        if(data.change===1){
          $(elem).addClass("active")
        }
        else if(data.change===-1){
          $(elem).removeClass("active")
        }
      }
    })
    .fail((data, statusText, xhr)=>{
      if(data.status==401){
        alert("Login required")
      }
    })
}
</script>
</html>