<html>
  <script src="/lib/jquery-3.6.0.min.js"></script>

<style>
  @font-face {
    font-family: "cookierun";
    src: url("/res/font/NanumSquareB.ttf");
  }
  body{     
   background-color: rgb(36, 36, 36);
   color:white;


  font-family: 'cookierun';
  text-align:center;

  }
  a,p{
    font-family: 'cookierun';
  }
  .filter-invert{
    filter: invert();
  }
  
  #navbar{
    /* position:fixed; */
    display: flex;
    /* background: none; */
    justify-content:flex-start;
    flex-direction: row-reverse;
    align-items: stretch;
    height: 40px;
    background-color: rgb(36, 36, 36);
    position: sticky;
    top: 0;
    padding: 5px;
    border-bottom: 1px solid rgb(95, 95, 95);
    z-index: 3;
  }
  #navbar img, #navbar > div{
    color:white;
    /* background-color: #7E00BF; */
    background: transparent;
    line-height: 30px;

    cursor:pointer;
    text-align:center;
    font-size: 20px;
    border:none;
    vertical-align: middle;
    border-radius: 20%;
    padding: 5px;
    margin-right: 5px;
    height: 30px;
  }
  #navbar img:hover,#navbar > div:hover{
    background-color: rgb(74, 74, 74);
  }
  #navbar img.delete_post{
    /* background-color: #ff5656; */
  }
  #comments{
    padding: 5px;
    background-color: rgb(83, 83, 83);
    /* background-color: rgb(221, 221, 221); */
  }
  #comments form{
    width: 100%;
  }
  .comment{
    min-height: 70px;
    padding: 7px;
    /* padding: 50px; */
    display: block;
    /* border: 2px solid white; */
  }
  .delete_comment,.delete_post{
    
    cursor: pointer;
    background-color: red;
  }
  .delete_comment{
    border: none;
    float: right;
    font-size: 25px;
    color: white;
    background: none;
  }
  .delete_comment:hover{
    transform: scale(1.1);
  }
  .postimg{
    max-width: 40%;
    max-height: 200px;
  }
  .vote{
    cursor: pointer;
    display: inline-block;
    min-width: 70px;
    user-select: none;
    background-color: #7E00BF;
    border-radius: 3px;
    /* border: 2px solid rgb(183, 183, 183); */
    padding: 2px;
    padding-top: 4px;
    padding-left: 4px;
  }
  .commentvote a{
    font-size: 17px;
  }
  .commentvote img{
    width: 15px;
  }
  .commentvote{
    min-width: 50px;
    background: none;
    border: 1px solid white;
  }
  .downvote img{
    transform: rotate(180deg);
  }
  .postvote{
    font-size: 20px;
  }
  .postvote img{
    width: 23px;
  }
  #post_container{
    width: min(95%,900px);
    display: inline-block;
    background-color: rgb(65, 65, 65);
    padding: 10px;
    text-align: start;
  }
  .title_container{
    text-align: start;
  }
  .title{
    font-size: 30px;
  }
  .info_container{
    text-align: start;
  }
  .info{
    font-size: 10px;
    color: #b2b2b2;
  }
  .author{
    font-size: 18px;
    color: #d88bff;
    cursor: pointer;
    text-decoration: underline;
  }
  .content{
    margin-bottom:100px ;
  }
  .reply{
    display: inline;
    /* text-align: end; */
    float: right;
    border: 1px solid white;
    padding: 5px;
    margin: 4px;
    cursor: pointer;
    border-radius: 3px;
  }
  .reply a{
    text-decoration: none;
    color: white;
  }
  .comment_info{
    font-size: 12px;
    color: #d2d2d2;
    
  }
  .comment_author{
    cursor: pointer;
    font-size: 15px;
    color: #ffffff;
  }
  .comment_hr{
    /* width: 90%; */
    display: block;
    margin: 10px;
    border: 0;
    height: 1px;
    background: gray;
  }
  .comment_content{
    font-size: 13px;
  }.enter_comment{
    position: relative;
    width: 100%;
    font-size: 25px;
    padding: 6px;
    color: white;
    background:none;
    border: none;
    border-bottom:2px solid rgb(210, 210, 210);
    font-family: 'cookierun';
    flex-grow: 1;
  }
  .submit_comment{
    border-radius: 5px;
    font-size: 25px;
    padding: 10px;
    border: none;
    background-color: #7E00BF;
    color: white;
    font-family: 'cookierun';
    cursor: pointer;
  }
  .commententer{
    display: flex;
    width: 100%;
    position: relative;
  }
</style>
<head>
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.2, user-scalable=no" />

  <meta charset="utf-8" >
</head>

<body>
 
  <div id="navbar">
    <img src="/res/img/svg/home.svg" id="homebtn"  onclick="golink('/')"><br>
    <img src="/res/img/svg/list.svg" id="postlistbtn">
    <%if(canModify){%>
      <img src="/res/img/svg/trash.svg" class="delete_post" data-id="<%= id%>">
      <img onclick="golink('/board/post/edit/<%=url%>')" src="/res/img/ui/write.png"class="edit_post">
  
      <!-- <button value="<%= id%>" class="delete_post">&times;</button>
      <button onclick="golink('/board/post/edit/<%=url%>')" class="edit_post">edit</button> -->
    <%}%>

  </div>
 <div id="post_container">


  <div class="title_container">
    <a class="title"><%= title %> </a>
  </div>
  <div class="info_container">
    <b class="info author" onclick="golink('/board/user/<%=author%>/posts')">작성자: <%= author %> </b><br>
    <a class="info"><%= createdAt.toString().substring(0,24) %></a>
    <a class="info"> 조회: <%= views %></a>
  </div>
      
  <hr>
      <%if(image!=="") {%>
        <img class="postimg" src="/uploads/<%= image %>"> 
     <% }  %>
     <div class="content"><%- content %>  </div>
     <div class="vote upvote postvote"  data-type="up" data-id="<%=id%>">
      <img src="/res/img/svg/like.svg" class="filter-invert">
      <a class="vote_count "><%= upvotes %></a>
    </div>
    <div class="vote downvote postvote"  data-type="down" data-id="<%=id%>">
      <img src="/res/img/svg/like.svg" class="filter-invert">
      <a class="vote_count "><%= downvotes %></a>
    </div>
    <br><br>
    <hr>
    
     <div id="comments">
      <%if(logined){%>
          
        <form action="/board/post/comment" method="post"> 
          <input type="hidden" name="postUrl" value="<%= url %>">  
          <input type="hidden" name="postId" value="<%= id %>">  
          <div class="commententer">
            <input class="enter_comment" type="text" name="content" placeholder="댓글쓰기" required>
            <input class="submit_comment" type="submit" value="등록">
          </div>
            
        </form>
      <%}else{%>
          <p>댓글을 쓰려면 로그인하세요</p>
      <%}%>
      <%for(let i=comment.length-1;i>=0;--i){%>
        <%const comm = comment[i]%>
        
        <div class="comment">
          <%if(comm.deleted){%>
            <a> 삭제된 댓글입니다</a>
            <div></div>
          <%}else{%>
           <a class="comment_info comment_author">작성자: </a> <u class="comment_info comment_author" onclick="golink('/board/user/<%=comm.author%>/comments')"> <%= comm.author %> </u>
            <a class="comment_info"><%= comm.createdAt.toString().substring(0,24) %></a>
            <%if(comm.canModify){%>
              <button value="<%= comm._id%>" class="delete_comment"><b>&times;</b></button>
            <%}%><br>
            <p class="comment_content"> <%= comm.content %> </p>
            
              <div class="vote upvote commentvote" data-type="up" data-id="<%=comm._id%>" >
                <img src="/res/img/svg/like.svg" class="filter-invert">
                <a class="vote_count"><%= comm.upvotes %></a>
              </div>
              <div class="vote downvote commentvote" data-type="down" data-id="<%=comm._id%>" >
                <img src="/res/img/svg/like.svg" class="filter-invert">
                <a class="vote_count"><%= comm.downvotes %></a>
              </div>
          <%}%>
          <div class="reply">
            <a href="/board/post/comment/<%=comm._id%>/reply">답글:<%=comm.replyCount %> </a>
          </div>
              
        </div>
        <hr class="comment_hr">
       <%}%>
     </div>
      
      
     
 </div>
   
</body>
<script>
  function golink(link){
  window.location.href=link
}
$("#postlistbtn").click(()=>{
    window.location.href="/board"
})

$(".delete_comment").click(function(){
  let value=$(this).val()
  $.ajax({
        method: 'POST',
        url: '/board/post/comment/delete',
        data:{commentId:value}
    })
    .done(function(data, statusText, xhr){
      let status = xhr.status;
      if(status==200){
        window.location.reload()
      }
    })
    .fail(function(data, statusText, xhr){
      if(data.status==401){
        alert("권한없음")
      }
      else{
        alert("error")
      }
    })
})
$(".delete_post").click(function(){
  if(!confirm("정말 삭제하시겠습니까?")) return

  let value=$(this).data('id')
  $.ajax({
        method: 'POST',
        url: '/board/post/delete',
        data:{id:value}
    })
    .done(function(data, statusText, xhr){
      let status = xhr.status;
      if(status==201){
        window.location.href="/board/"
      }
    })
    .fail(function(data, statusText, xhr){
      if(data.status==401){
        alert("권한없음")
      }
      else{
        alert("error")
      }
    })
})
$(".postvote").click(function(){
  let type=$(this).data('type')
  let id=$(this).data('id')
  sendVote('post',type,id,$(this).children('.vote_count').eq(0))
})
$(".commentvote").click(function(){
  let type=$(this).data('type')
  let id=$(this).data('id')
  sendVote('comment',type,id,$(this).children('.vote_count').eq(0))
})

function sendVote(kind,type,id,vote_count){
  $.ajax({
        method: 'POST',
        url: '/board/'+kind+'/vote',
        data:{id:id,type:type}
    })
    .done((data, statusText, xhr)=>{
      let status = xhr.status;
      if(status==200){
        $(vote_count).html(Number($(vote_count).html()) +  data.change)
      }
    })
    .fail((data, statusText, xhr)=>{
      if(data.status==401){
        alert("로그인이 필요합니다")
      }
    })
}
</script>
</html>