<script src="/lib/jquery-3.6.0.min.js"></script>
<html>
<style>
    @font-face {
    font-family: "cookierun";
    src: url("/res/font/NanumSquareB.ttf");
  }
    .postimg{
    max-width: 40%;
    max-height: 200px;
  }
  
  body{     
   background-color: rgb(36, 36, 36);
   color:white;
   margin: 0;
    margin-bottom: 20px;

    font-family: 'cookierun';
    text-align:center;

  }
  a,p{
    font-family: 'cookierun';
  }
  .filter-invert{
    filter: invert();
  }
  #write_post{
    display: inline-block;
    width: min(95%,900px);
    background-color: rgb(65, 65, 65);
    border-radius: 10px;
  }
  #navbar-container{
    background-color: rgb(36, 36, 36);
    position: sticky;
    display: block;
    z-index: 3;
    top: 0;
  }
  #navbar{
    padding: 5px;
    /* position:fixed; */
    display: flex;
    /* background: none; */
    justify-content:flex-start;
    flex-direction: row-reverse;
    align-items: stretch;
    height: 40px;
    border-bottom: 1px solid gray;
  }
  #navbar img{
    color:white;
    /* background-color: #7E00BF; */
    cursor:pointer;
    text-align:center;
    font-size: 20px;
    border:none;
    vertical-align: middle;
    border-radius: 5px;
    padding: 5px;
    margin-right: 5px;
    height: 30px;
  }
  #navbar img:hover{
    filter: brightness(0.9);
    /* background-color: rgb(74, 2, 110); */
  }
  #savebtn{
    position: fixed;
    bottom: 60px;
    right: 60px;
    width: 70px;
    height: 40px;
    cursor: pointer;
    border-radius: 4px;
    padding: 3px;
    z-index: 3;
    background-color: #2abb4e;
  }
  #savebtn:hover{
    background-color: #62e884;

  }
  #cancelbtn{
    background-color: #ff5656;
  }
  .textarea{
    border-radius: 10px;
    resize: none;
    background: none;
    border: none;
    width: 100%;
    font-family:'cookierun';
    color: white;
    /* height: max-content; */
    overflow: visible;
    outline: none;
    padding: 5px;
    text-align: start;
  }
  ::placeholder{
    color: rgb(140, 140, 140);
    opacity: 1;
    /* text-align: center; */
  }
  #title-input{
    /* border-radius: 10px; */

    font-size: 30px;
    /* border-bottom: 2px solid gray; */
  }
  #content-input{
    /* border-radius: 10px; */

    position: relative;
    font-size: 15px;
    min-height: 100%;
    width: 100%;
    word-wrap: normal;
  }
  .input:focus{
    border: none;
  }
  hr{
    margin: 10px;
    height: 1px;
    border: 1px solid gray;
  }
  #filebox{
    background-color:#242424;
    
  
  }
  #file{
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
  }
  #filebtn{
    width: 40px;
    /* background-color: #7E00BF; */
    background: transparent;

    cursor:pointer;
    text-align:center;
    font-size: 20px;
    border:none;
    vertical-align: middle;
    border-radius: 5px;
    padding: 5px;
    margin-right: 5px;
  }
  .radiobtn{
    width: 10px;
    height: 10px;
    cursor: pointer;
  }
#visibility{
  background: #404040;
  display: inline-block;
  padding: 6px;
}
</style>


<head>
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.2, user-scalable=no" />

  <title>Write Post</title>
  <link rel="icon" type="image/x-icon" href="/res/img/ui/favicon.png">
  <meta charset="utf-8" >
</head>
 
<body>
  <img src="/res/img/svg/save.svg" id="savebtn"  onclick="save()">

  <div id="navbar-container">
    <div id="navbar">
      <img src="/res/img/svg/out.svg" id="cancelbtn"  onclick="cancel()">

      <label for="file" id="filebtn-container">
        <img id="filebtn" src="/res/img/svg/image.svg">
      </label>
      
      
    </div>
  </div>
 
  <div>
    <%if(isEdit){%>
      <h1>Edit post</h1>
    <%}else{%>
      <h1>Write post</h1>
    <%}%>
  </div>
    <form id="form" action="/board/post/<%= isEdit?'edit':'write'%>" method="post" enctype="multipart/form-data">
      <div class="filebox">

        <!-- <input class="upload-name" value="첨부파일" placeholder="첨부파일"> -->
          
        <input type="file"  id="file" class="uploadimg" accept="image/png,image/jpg,image/jpeg" name="img">
        
    </div>
    <input id="title-input-submit" type="hidden" name="title" value="<%= title %>">
    <input  id="content-input-submit" type="hidden" name="content" value="<%= content %>">
    <%if(isEdit){%>
      <input type="hidden" value="<%= url %>" name="url">
    <%}%>
   
  <div id="visibility">

    <p>Visilibity</p>
    <input type="radio" class="radiobtn" id="vs1" name="visibility" value="PUBLIC" checked>
    <label for="vs1">Public</label>
    <input type="radio" class="radiobtn" id="vs2" name="visibility" value="FRIENDS">
    <label for="vs2">Visible to friends</label>
    <input type="radio" class="radiobtn" id="vs3" name="visibility" value="LINK_ONLY">
    <label for="vs3">Partially visible</label>
    <input type="radio" class="radiobtn" id="vs4" name="visibility" value="PRIVATE">
    <label for="vs4">Private</label>
  </div>
  </form>
    <div id="write_post">
        <div class="textarea" id="title-input" placeholder="Title" contenteditable><%= title %></div>
        
       <hr> 
       <div id="imagearea">
        <%if(imagedir!=="") {%>
          <img class="postimg" src="/uploads/<%= imagedir %>"> 
          <hr>
        <% } %>
        </div>
       <div  class="textarea"  id="content-input" placeholder="Content" contenteditable><%- content %></div>
      </div>
      
</body>
<script>
 function cancel(){
  history.back()
  }
  function save(){
    let title=$("#title-input").html()
    let content=$("#content-input").html()
    if(title==="" || content===""){
      alert("enter content")
      return
    }
    // console.log(content)


    title=title.replace(/\<div\>/g," ").replace(/\<\/div\>/g,"").replace(/\<.+?\>/g,"")
    content=content
    .replace(/\<br.*?\>/g,"[[]]")
    .replace(/\<\/div\>/g,"[[]]")
    .replace(/\<.+?\>/g,"")
    .replace(/\[\[\]\]/g,"<br>")



    $("#title-input-submit").val(title)
    $("#content-input-submit").val(content)
    // console.log(content)
    // console.log(title)
    window.onbeforeunload = null
    document.getElementById("form").submit()
  }
  const inputImage = document.getElementById("file")
  inputImage.addEventListener("change", e => {
    let input=e.target
    if(input.files && input.files[0]) {
        // 이미지 파일인지 검사 (생략)
        // FileReader 인스턴스 생성
        const reader = new FileReader()
        // 이미지가 로드가 된 경우
        reader.onload = e => {
          $("#imagearea").html("<img class='postimg' src='"+e.target.result+"'><hr>")
        }
        // reader가 이미지 읽도록 하기
        reader.readAsDataURL(input.files[0])
    }
  })
  window.onbeforeunload = function (e) {
		return false
  }
</script>
</html>